/*
 * File: signin.styles.scss
 * Project: crwn-clothing
 * File Created: Monday, 8th May 2023 3:27:28 pm
 * Author: Paul Adrian Reyes (paulreyes74@yahoo.com)
 * GitHub: https://github.com/alcoranpaul
 * -----
 * Last Modified: Monday, 8th May 2023 4:33:56 pm
 * Modified By: PR (paulreyes74@yahoo.com>)
 * -----
 * -----
 * Description:
 */

 .authentication-container{
    display: flex;
    width: 900px;
    justify-content: space-between;
    margin: 30px auto;
 }